
/* #이 아이디  .이 클래스 */
div{
    /* border: 1px solid black; */
    background-color: black;
}


#Before_header{
    margin-top: 10px;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}
header div{
    background-color: rgba(255, 255, 255, 0);
}

#main_1_img{
    position: absolute;
    top:-10%;
    

}

#logo_B{
    height: 45px;
    margin-top: 13px;
    

}


.header_div_B {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}

#main_1, #main_2, #main_3, #main_4, #main_5{   
    display: flex;
    flex-direction: row;
}
#main_6{
    display: flex;
    flex-direction: column;
}
.NUL{
    flex-grow: 2;
}

#header_contents{
    flex-grow:  1;
    flex-basis:  0;
}

.desc_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px;
}
.header_div_B:nth-child(1){flex-grow: 2;}
.header_div_B:nth-child(2){flex-grow: 7;}
.header_div_B:nth-child(3){flex-grow: 0;}
.header_div_B:nth-child(4){flex-grow: 1;}

#main_2{
    display: flex;
    justify-content: space-around;
    flex-grow:  1;
    /* flex: 1 2 5 1 1; */
    flex-basis:  0;
}


p{
    color: white;
    text-align: left;
}

.desc_title{
    font-size: 50px;
    line-height:120%;
}
.desc{
    font-size: 26px;
    line-height: 50px;

}

#main_1 {
    position: relative;
    opacity: 90%;
}
#_1_desc{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background-color: rgba(255, 255, 255, 0);
    width: 640px; 
    box-sizing: border-box;
}
.input_email{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
}


#main_title, #main_desc, #main_desc_lower, .input_email{
    text-align: center;
}
#main_desc_lower{
    font-size: 19px;
}
#main_title{
    font-size: 4rem;

}
#_1_desc{
    width: 50vw;
}

#main_6{
    align-items: center;
}
.faq_question{
    width: 815px;
    height: 76px;
    font-size: 26px;
    color: white;
    text-align: left;
    padding-left: 30px;
    
}
.faq_answer{
    background-color: #303030;
    padding: 31.2px;
    box-sizing: border-box;
    display: none;
    width: 845px;    
}
.footer_box{
    padding: 100px 300px 100px 300px;
    box-sizing: border-box;
}
.footer_box_ul{
    color: white;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 20px;
}


.before_imgs{
    display: flex;
    align-items: center;
}

input[id*="answer"] {
    display: none;
}

input[id*="answer"]+label {
    display: block;
    /* font-weight: 900; */
    background-color: #303030;
    margin: 5px;
}


input[id*="answer"]+ label + div {
    max-height: 0;
    transition: all .355;
    overflow: hidden;
    width: 815px;
}

input[id*="answer"]+ label + div p{
    display: block;
    margin-top: 1px;
    margin-bottom: 5px;
    
}

input[id*="answer"]:checked + label + div {
    max-height: 1000px;
    width: 845px;

}

.ques-title{
    margin: 25px;
    margin-left: 0;
}


#_1_img{
	height: 800px;
}


#login_button{
	background-color: black;
    border: 1px solid black;
}

.login_div + p{
    text-align: center;
    color: black;
}