/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset code */

/* div, li{
    border: 1px solid black;
} */
a { text-decoration:none } 

#navigater{
	margin-top: 5px;
    height: 50px;
	display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
	background-color: rgba(78,78,78,0);
	position: relative;
	margin-top: 15px;

}

.nav-logo{
    width: 150px;
}

.nav-option{
    flex: 4;
}
.nav-search-admin{
    flex: 5;
}

.nav-logo{
    display: grid;
    justify-items: center;
    align-items: center;
}
#logo{
    width: 100px;
}

.nav-option {
	/* border: 4px solid black; */
	
}

.nav-option-items-ul{
    list-style:none;

	
}
.option-item{
	width: auto;
	float: left;
	margin: 10px;
}

.nav-search-admin{
	display: flex;
	justify-content:flex-end;
	margin-right: 30px;
}

.top-video{
	position: relative;
}
#top-video-logo{
	position: absolute;
	top: 100px;
	left: 50px;
}
#top-video-vid{
	position:absolute;
}
#top-video-desc{
	position: absolute;
	top: 450px;
	left: 70px;
	font-size: 20px;
	width: 520px;
	/* height: 104px; */
	color: white;
	line-height: 25px;
}
.vid-play{
	background-color: white;
}
.vid-info{
	background-color: rgba(78,78,78,0.8);
}
.hot-now-contents, .top-10-contents {
	display: flex;
	width:100%;
	overflow-x:hidden;
}

.hot-now-contents::-webkit-scrollbar, .top-10-contents::-webkit-scrollbar {
    width: 10px;
}
.hot-now-contents::-webkit-scrollbar-thumb, .top-10-contents::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.hot-now-contents::-webkit-scrollbar-track, .top-10-contents::-webkit-scrollbar-track {
    background-color: black;
}


.content-10s, .content-hots{
	/* height: 151px; */
	margin-right: 50px;
	box-sizing: border-box;
}

.option-item-select{
	color: white;
}
.vid-desc{
    background-color: wheat;
}

/* //// */
.Carousel_inbox{
	top: 100px;
    width: 300vw;
    transition: transform 0.5s;
	overflow-x: hidden;
	/* height: 230px; */
	/* justify-content: center; */
	align-items: center;
}

.Carousel_outbox{
	/* height: 300px; */
	position:relative;
	overflow-x: hidden;
}

label[class^=left]{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: 900;
	background-color: gray;
	height: 180px;
    ;
}

label[class^=right]{
    position: absolute;
    z-index: 10;
	height: 180px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: 900;
	background-color: gray;
}

.hot-now-contents-div{
	overflow-x: hidden;
}
