
#userSelect_header {
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 50px;

}

#logo{
    height: 30px;
}


.header_div {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}

body{
    background-color: black;
}
div{
    color: white;
}
.select-div{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 4vw;
    margin-bottom: 50px;
}

.select-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-profile{
    display: flex;

}

.profile{
    height: 144px;
    margin: 20px;
    

}

.name{
    margin: 20px;
    margin-top: 0px;
    text-align: center;
}